<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h3>Search</h3>
        <form action="/search">
            <input type="search" name="gender" placeholder="Search Gender">
            <input type="search" name="style" placeholder="Search Style">
            <input type="search" name="size" placeholder="Search Size">
            <input type="search" name="price" placeholder="Search Price">
            <input type="submit" value="Search">
        </form>
        <h3>Products</h3>
        <% if(data.length) { %>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Style</th>
                        <th scope="col">Size</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i=0;i < data.length; i++) { %>
                        <tr>
                            <th scope="row">
                                <%= (i+1) %>
                            </th>
                            <td>
                                <%= data[i].Gender %>
                            </td>
                            <td>
                                <%= data[i].Style %>
                            </td>
                            <td>
                                <%= data[i].Size %>
                            </td>
                            <td>
                                <%= data[i].Price %>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
            <% } %>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>

</html>